<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{head.html}">
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <div th:insert="~{bigcorpmenu.html}"></div>
    <!-- Layout container -->
    <div class="layout-page">
      <div th:insert="~{bigcorpnav.html}"></div>

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý đại lý</span> </h4>
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive text-nowrap">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Loại sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số Lượng sản phẩm đã bán</th>
                    <th>Số Lượng sản phẩm tồn kho</th>
                  </tr>
                  </thead>
                  <tbody class="table-border-bottom-0" th:each="p: ${listProduct}">
                  <tr>
                    <td th:text="${p.category}"></td>
                    <td th:text="${p.name}">
                    </td>
                    <td th:text="${p.sold}">1268</td>
                    <td th:text="${p.remaining}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        </div>
        <!-- / Content -->
        <div th:insert="~{footer.html}"></div>
</body>
</html>