<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{head.html}">

</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <div th:insert="~{bigcorpmenu.html}"></div>

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <div th:insert="~{bigcorpnav.html}"></div>

            <!-- Content wrapper -->
            <div class="content-wrapper">


                <!-- Classify -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Thêm Cơ Sở Mới </span> </h4>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <h5 class="card-header">Thông tin cơ sở</h5>
                                <!-- Account -->

                                <hr class="my-0" />
                                <div class="card-body">
                                    <form id="formAccountSettings" method="POST" th:action="@{'/bigcorp/bandieuhanh/quanly-dongsanpham/suasanpham/' + ${categoryProduct.id}}" th:object="${categoryProduct}">
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" >Loại sản phẩm</label>
                                                <input type="text" class="form-control" id="name" name="address" placeholder="Tên sản phẩm" th:field="*{category}" readonly/>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="firstName" class="form-label">Mã sản phẩm</label>
                                                <input
                                                        class="form-control"
                                                        type="text"
                                                        id="firstName"
                                                        name="firstName"
                                                        placeholder="Mã sản phẩm"
                                                        autofocus
                                                        th:field="*{code}"
                                                        readonly
                                                />
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">Tên sản phẩm</label>
                                                <input type="text" class="form-control" id="name" name="address" placeholder="Tên sản phẩm" th:field="*{name}" readonly/>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">Hình ảnh</label>
                                                <input type="text" class="form-control" id="img" name="address" placeholder="Địa chỉ hình ảnh" th:field="*{image}"/>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">Giá</label>
                                                <input type="text" class="form-control" id="img" name="address" placeholder="Giá" th:field="*{price}"/>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">Thời gian bảo hành</label>
                                                <input type="text" class="form-control" id="img" name="address" placeholder="Thời gian bảo hành" th:field="*{thoigianbaohanh}"/>
                                            </div>
                                        </div>


                                        <div class="mt-2">
                                            <button type="submit" class="btn btn-primary me-2">Lưu</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /Account -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Basic Bootstrap Table -->
                <!-- / Content -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<div class="buy-now">
    <a
            th:href="@{/bigcorp/bandieuhanh/quanly-dongsanpham}"
            class="btn btn-danger btn-buy-now"
    >Quay Lại</a>
</div>

<div th:insert="~{footer.html}"></div>
</body>
</html>